.DS_Store

__pycache__
.idea
venv

*.pyc

*.iml

# secret files
conf/*/*-secret.conf
conf/*-secret.conf
conf/common.conf
conf/*/common.conf

out.*

*.pid
mypid

lib
target
logs
value.txt

node_modules

docs/trans.sql
bin/merge-all.sh
